Services/HotelService/WSDL/hotel-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  name="hotelService"
  targetNamespace="http://www.examples.com/wsdl/hotelService.wsdl"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.examples.com/wsdl/hotelService.wsdl"
  xmlns:xsd="http://www.w3.org/abdshanino"
>


  <xsd:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="hotel-reservation-request">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="passport-number" type="xs:long" minOccurs="1" maxOccurs="1" />
            <xs:element name="period" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="from">
                    <xs:simpleType>
                      <xs:restriction base="xs:date" />
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="to">
                    <xs:simpleType>
                      <xs:restriction base="xs:date" />
                    </xs:simpleType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>

            <xs:element name="price-range" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:all>
                  <xs:element name="from">
                    <xs:simpleType>
                      <xs:restriction base="xs:double" />
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="to">
                    <xs:simpleType>
                      <xs:restriction base="xs:double" />
                    </xs:simpleType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>

            <xs:element name="room-type" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Single" />
                  <xs:enumeration value="Double" />
                  <xs:enumeration value="Triple" />
                  <xs:enumeration value="Quad" />
                  <xs:enumeration value="banquets" />
                  <xs:enumeration value="event" />
                  <xs:enumeration value="meeting" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>


            <xs:element name="qualifying-rates" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Standard" />
                  <xs:enumeration value="Best available" />
                  <xs:enumeration value="Non refundable rate" />
                  <xs:enumeration value="Length of stay" />
                  <xs:enumeration value="Family" />
                  <xs:enumeration value="Package" />
                  <xs:enumeration value="Corporate" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>


      <xs:element name="rooms">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" name="hotel-room">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="hotel-name" type="xs:unsignedShort" />
                  <xs:element name="availability-date">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="from" type="xs:date" />
                        <xs:element name="to" type="xs:date" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="price" type="xs:double" />
                  <xs:element name="qualifying-rates">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="qualifying-rate" minOccurs="0" maxOccurs="7">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Standard" />
                              <xs:enumeration value="Best available" />
                              <xs:enumeration value="Non refundable rate" />
                              <xs:enumeration value="Length of stay" />
                              <xs:enumeration value="Family" />
                              <xs:enumeration value="Package" />
                              <xs:enumeration value="Corporate" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>


                  <xs:element name="hotels-rooms-types">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="room-type" minOccurs="0" maxOccurs="7">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Single" />
                              <xs:enumeration value="Double" />
                              <xs:enumeration value="Triple" />
                              <xs:enumeration value="Quad" />
                              <xs:enumeration value="banquets" />
                              <xs:enumeration value="event" />
                              <xs:enumeration value="meeting" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>


                  <xs:element name="hotels-services">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="service" minOccurs="0" maxOccurs="8">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="Car rental services" />
                              <xs:enumeration value="Catering services" />
                              <xs:enumeration value="Concierge services" />
                              <xs:enumeration value="Courier services" />
                              <xs:enumeration value="Doctor on call" />
                              <xs:enumeration value="Dry cleaning" />
                              <xs:enumeration value="Excursions and guided tours" />
                              <xs:enumeration value="Flower arrangement" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>

                  <xs:element name="hotel-rate" type="xs:double" />
                  <xs:element name="negotiation-code" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:schema>
  </xsd:types>

  <message name="book-room">
    <part name="param" type="tns:hotel-reservation-request" />
  </message>

  <message name="rooms-list">
    <part name="result" type="tns:rooms" />
  </message>


  <portType name="bookRoom">
    <operation name="book-room">
      <input message="tns:book-room" />
    </operation>
  </portType>

  <portType name="getRooms">
    <operation name="rooms">
      <input message="tns:book-room" />
      <output message="tns:rooms-list" />
    </operation>
  </portType>

  <binding name="bookRoomSOAP" type="tns:bookRoom">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="book-room">
      <soap:operation soapAction="book-room" style="document" />
      <input>
        <soap:body
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="urn:examples:hotelService"
          use="literal" />
      </input>

      <output>
        <soap:body
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="urn:examples:hotelService"
          use="literal" />
      </output>
    </operation>
  </binding>


  <binding name="getRoomsSOAP" type="tns:getRooms">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <operation name="rooms">
      <soap:operation soapAction="rooms" style="document" />
      <input>
        <soap:body
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="urn:examples:hotelService"
          use="literal" />
      </input>

      <output>
        <soap:body
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
          namespace="urn:examples:hotelService"
          use="literal" />
      </output>
    </operation>


  </binding>

  <service name="hotelService">
    <documentation>WSDL File for hotelService</documentation>
    <port binding="tns:bookRoomSOAP" name="bookRoomSOAP">
      <soap:address
        location="http://localhost:3002/book-room/" />
    </port>


    <port binding="tns:getRoomsSOAP" name="getRoomsSOAP">
      <soap:address
        location="http://localhost:3002/rooms/" />
    </port>
  </service>
</definitions>